<a href="https://colab.research.google.com/github/AlexanderLorin/gt-chit-picker/blob/main/chit-picker.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#Import dependencies
import random

from random import randrange
import numpy as np
import pandas as pd
#from collections import defaultdict

In [2]:
#Create an array with student names and their numbers
list = {'Name':["Kelechi Nwachukwu", "Alexander Lorin", "Arnold Wamulanga", "Corey Chickowski", "Ellis Purwanto", 
                 "Joby Augustine", "Karla Robles", "Marc Avoaka", "Nazih Bouanani", "Prajesh Patel", 
                 "Prince Emenalo", "Ra Ish Andrews", "Rajeshwari Natchiappan", "Rudy Duvnjak", 
                  "Ryan Hulett", "Shailesh Godkhindi", "Shreya Udeshi", "Stormm Van Rooi", "Thomas Lawless"], 'Number':[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19] }

In [3]:
#create a dataframe from the array
df = pd.DataFrame(list)

In [4]:
df

                      Name  Number
0        Kelechi Nwachukwu       1
1          Alexander Lorin       2
2         Arnold Wamulanga       3
3         Corey Chickowski       4
4           Ellis Purwanto       5
5           Joby Augustine       6
6             Karla Robles       7
7              Marc Avoaka       8
8           Nazih Bouanani       9
9            Prajesh Patel      10
10          Prince Emenalo      11
11          Ra Ish Andrews      12
12  Rajeshwari Natchiappan      13
13            Rudy Duvnjak      14
14             Ryan Hulett      15
15      Shailesh Godkhindi      16
16           Shreya Udeshi      17
17         Stormm Van Rooi      18
18          Thomas Lawless      19

In [5]:
#create a new columns to keep track of student picked
df['picked']=0
df

                      Name  Number  picked
0        Kelechi Nwachukwu       1       0
1          Alexander Lorin       2       0
2         Arnold Wamulanga       3       0
3         Corey Chickowski       4       0
4           Ellis Purwanto       5       0
5           Joby Augustine       6       0
6             Karla Robles       7       0
7              Marc Avoaka       8       0
8           Nazih Bouanani       9       0
9            Prajesh Patel      10       0
10          Prince Emenalo      11       0
11          Ra Ish Andrews      12       0
12  Rajeshwari Natchiappan      13       0
13            Rudy Duvnjak      14       0
14             Ryan Hulett      15       0
15      Shailesh Godkhindi      16       0
16           Shreya Udeshi      17       0
17         Stormm Van Rooi      18       0
18          Thomas Lawless      19       0

In [13]:
#code to reset the chit picker
df['picked']=0

In [35]:
#create a list with 'picked' values 
choices = (df['Number'][df['picked']== df['picked'].min()]).to_list()
#pick a random number from the list
lucky = random.choice(choices)
#print the lucky winner's number and name
print( df.loc[df['Number']==lucky,'Name'])
#add 1 to 'picked' column for the winner
df.loc[df['Number']==lucky, 'picked'] +=1
#show the dataframe with udpated value
df

0    Kelechi Nwachukwu
Name: Name, dtype: object

                      Name  Number  picked
0        Kelechi Nwachukwu       1       2
1          Alexander Lorin       2       1
2         Arnold Wamulanga       3       1
3         Corey Chickowski       4       1
4           Ellis Purwanto       5       1
5           Joby Augustine       6       1
6             Karla Robles       7       1
7              Marc Avoaka       8       1
8           Nazih Bouanani       9       1
9            Prajesh Patel      10       2
10          Prince Emenalo      11       1
11          Ra Ish Andrews      12       1
12  Rajeshwari Natchiappan      13       1
13            Rudy Duvnjak      14       1
14             Ryan Hulett      15       1
15      Shailesh Godkhindi      16       1
16           Shreya Udeshi      17       2
17         Stormm Van Rooi      18       1
18          Thomas Lawless      19       1